@import 'scss/reset';
@import 'scss/base';

body{
  background-color: #bde0fe;
  color: #4361ee;
  margin: auto;
  width: 70vw;
  font-family: Roboto, sans-serif;
}
header{
  display: flex;
  width: 100%;
  height: auto;
  img{
    width: 13%;
    padding: 8px 2vw 8px 2vw;
    object-fit: contain;
  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 3rem;
    color: #03045e;
    h1{
      font: normal normal bold calc(50vw * 100 / 1440) Roboto;
    }

    h2{
      font: normal normal bold calc(20vw * 100 / 1440) Roboto;
    }
  }
}

footer{
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}

nav{
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem 1rem 4rem;
  font: normal normal bold calc(13vw * 100 / 1440) Roboto;
  button{
    border-radius: 20px;
    color: #bde0fe;
    background-color: #03045e;
    padding: 8px 16px;
    height: fit-content;
    border: 2px solid transparent;
    transition: 0.5s;
    &:hover{
      background-color: #bde0fe;
      color: #03045e;
      border: 2px solid #03045e;
      transition: .5s;
    }
  }

  .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 10px 10px 10px 30px;
    border: 2px solid #03045e;
    border-radius: 35px;
    color: #03045e;
    input{
      width: 100%;
    }
  }
}
.hero__section{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .container-jeux {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3vw 4vw;
    grid-template-areas:
    ". . . .";
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      ". . .";
    }
    @media (max-width: 992px) {
      gap: 5vw 2vw;
    }
    .jeux__div{
      border-radius: 8px;
      box-shadow: rgba(17, 12, 46,.15) 0 48px 100px 0;
      position: relative;
      display: flex;
      justify-content: center;
      cursor: pointer;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      h2{
        position: absolute;
        top: 102%;
        width: 100%;
        font: normal normal bold 14px Roboto;
      }
      .heart{
        display: none;
        position: absolute;
        font-size: 30px;
        color: #c33;
        top: -20px;
        right: -15px;
      }
    }
    .effectuez__h3{
      position: absolute;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.container-fiche{
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden; //visible
  display: none; //flex
  justify-content: center;
  align-items: center;
  background-color: rgba(22,22,22,0.3);
  .fiche-jeu{
    width: 45vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-around;
    padding: 3rem;
    border-radius: 20px;
    position: relative;
    .close__span{
      top: 30px;
      right: 30px;
      font-weight: bold;
      position: absolute;
      cursor: pointer;
      transition: 0.5s;
      color: red;
      &:hover{
        color: #ae1313;
        transition: .5s;
      }
    }
    .titre__div{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      h2{
        font-size: 20px;
        font-weight: bold;
      }
      img{
        height: 200px;
        width: 200px;
      }
    }
    .description__p{
      height: 11vw;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .plateformes__div{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }
    .ajouter__button{
      border: 1px solid #4361ee;
      color: #4361ee;
      font-size: 16px;
      font-weight: bold;
      border-radius: 30px;
      padding: .5rem;
      transition: .5s;
      &:hover{
        color: #fff;
        background-color: #4361ee;
        transition: .5s;
      }
    }
  }
}

.delete-confirm{
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: none; //flex
  justify-content: center;
  align-items: center;
  background-color: rgba(22,22,22,0.3);
  .container-delete{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    width: 30%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
      font-weight: normal;
      font-size: 18px;
      padding: 1rem;
    }
    div{
      display: flex;
      width: 80%;
      justify-content: space-around;

      button{
        border-radius: 8px;
        padding: .5rem;
        transition: .5s;
      }
      .cancel__button{
        color: #4361ee;
        border: 1px solid #4361ee;
        &:hover{
          background-color: #4361ee;
          color: #fff;
          transition: .5s;
        }
      }
      .remove__button{
        color: red;
        border: 1px solid red;
        &:hover{
          background-color: red;
          color: #fff;
          transition: .5s;
        }
      }
    }
  }
}

.display-visible{
  display: flex !important;
  visibility: visible !important;
}

.loading {
  display: none;
  justify-content: center;
  width: 100%;

  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 48px;

    div {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #03045e;
      animation: loader 2s linear infinite;

      &:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -.4s;
      }

      &:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -.8s;
      }

    }

    @keyframes loader {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: .5;
      }
    }
  }
}